In [2]:
import pandas as pd
from my_utils_copy import *
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import numpy as np
import seaborn as sns

In [ ]:
df_BRONZE = get_rawdata('BRONZE')

In [ ]:
df_IRON = df

In [ ]:
df_IRON['matches'][1]['info']['participants'][0]['summonerName']

In [ ]:
df_BRONZE = get_rawdata('BRONZE')

In [ ]:
df_BRONZE

In [ ]:
df_SILVER = get_rawdata('SILVER')

In [ ]:
df_SILVER

In [ ]:
df_GOLD = get_rawdata('GOLD')

In [ ]:
df_GOLD

In [ ]:
df_PLATINUM = get_rawdata('PLATINUM')

In [ ]:
df_PLATINUM

In [ ]:
df_EMERALD = get_rawdata('EMERALD')

In [ ]:
df_EMERALD

In [ ]:
df_DIAMOND = get_rawdata('DIAMOND')

In [ ]:
df_DIAMOND

In [3]:
query_mysql = """
create table lol_datas_final(gameId varchar(30), gameDuration int, allInPings int, assistMePings int, baitPings int,basicPings int,commandPings int,dangerPings int,enemyMissingPings int, getBackPings int,holdPings int, needVisionPings int, onMyWayPings int,pushPings int, visionClearedPings int ,summonerName varchar(50),
summonerLevel int, participantId int, championName varchar(50), champExperience int,
teamPosition varchar(50), teamId int, win varchar(50), kills int, deaths int, assists int,
totalDamageDealtToChampions int ,totalDamageTaken int, g_2 int, g_3 int, g_4 int, g_5 int,g_6 int,g_7 int,
g_8 int,g_9 int,g_10 int,g_11 int,g_12 int,g_13 int,g_14 int,
g_15 int,g_16 int,g_17 int,g_18 int,g_19 int,g_20 int, Sum_Selected int, tier varchar(10)
)
"""

In [4]:
conn = connect_mysql()

In [5]:
sql_execute(conn,query_mysql)

()

In [6]:
df.iloc[0].matches['info']['participants']

NameError: name 'df' is not defined

In [ ]:
df.iloc[i].timelines['info']['frames'][2]['participantFrames'][str(9)]['totalGold']

In [15]:
def lane_processing(tower_lane, tower_team, lane, team):
    if (tower_lane[0] == lane[0]) and (tower_team == team):
        return 1
    else:
        return 0

In [16]:
def assi_calc(y):
    try:
        return ','.join(list(map(lambda x: str(x), y['assistingParticipantIds'])))
    except:
        return ''

In [17]:
df_creates = []
for i in range(len(df)):
    try:
        match = df.iloc[i].matches['info']['participants']
        for j in range(len(match)):
            match_id = df.iloc[i].match_id
            game_duration = df.iloc[i].matches['info']['gameDuration']
            game_version = df.iloc[i].matches['info']['gameVersion']
            try:
                riotIdGameName = match[j]['riotIdGameName']
            except:
                riotIdGameName = ''
            try:
                riotIdTagline = match[j]['riotIdTagline']
            except:
                riotIdTagline = ''
            summoner_level = match[j]['summonerLevel']
            participants_id = match[j]['participantId']
            champion_name = match[j]['championName']
            champ_experience = match[j]['champExperience']
            team_position = match[j]['teamPosition']
            team_id = match[j]['teamId']
            win = match[j]['win']
            kills = match[j]['kills']
            deaths = match[j]['deaths']
            assists = match[j]['assists']
            total_damage_dealt = match[j]['totalDamageDealtToChampions']
            total_damage_taken = match[j]['totalDamageTaken']


            df_list = list(map(lambda x: x['events'],df.iloc[i].timelines['info']['frames']))
            event_list = [element for array in df_list for element in array]
            tower_log = list(filter(lambda x:x['type'] == 'BUILDING_KILL' ,event_list))

            try:
                ft_tower_lane = tower_log[0]['laneType']
                ft_tower_team = tower_log[0]['teamId']
            except:
                ft_tower_lane = 'n'
                ft_tower_team = 'n'
            ft = lane_processing(ft_tower_lane,ft_tower_team,team_position,team_id)

            tower_tmp = list(map(lambda x: (x['laneType'],x['teamId'],x['timestamp']) ,tower_log))

            try:
                laneTower = list(filter(lambda x:(x[0][0] == team_position[0]) & (x[1] == team_id) ,tower_tmp))[0]
                lane_flag = 1
                laneTowerTime = laneTower[-1]
            except:
                lane_flag = 0
                laneTowerTime = 0
            
            blue_ban = list(map(lambda x: str(x['championId']) ,df.iloc[i].matches['info']['teams'][0]['bans']))
            red_ban = list(map(lambda x: str(x['championId']) ,df.iloc[i].matches['info']['teams'][1]['bans']))
            ban_list = '|'.join(list(set(blue_ban + red_ban)))
            
            
            kill_log = list(map(lambda x: list(filter(lambda z: z['type']=='CHAMPION_KILL',x['events'])),df.iloc[i].timelines['info']['frames']))
            kill_log = [element for array in kill_log for element in array]
            k = '|'.join(list(map(lambda x : str(x['killerId']) , kill_log)))
            v = '|'.join(list(map(lambda x :str(x['victimId']), kill_log)))
            a = '|'.join(list(map(lambda x : assi_calc(x) ,kill_log)))
            
            try:
                g15 = df.iloc[i].timelines['info']['frames'][15]['participantFrames'][(str(j+1))]['totalGold']
            except:
                g15 = 0
        
            df_creates.append([match_id,game_duration,game_version,riotIdGameName,riotIdTagline,summoner_level,participants_id,
                              champion_name,champ_experience,team_position,team_id,win,kills,deaths,assists,total_damage_dealt,total_damage_taken,
                              ft,lane_flag,laneTowerTime,ban_list,k,v,a,g15])
    except:
        continue
columns =['matchId', 'gameDuration', 'gameVersion', 'riotIdGameName','riotIdTagline', 
           'summonerLevel', 'participantId', 'championName', 'champExperience', 
           'teamPosition', 'teamId', 'win', 'kills', 'deaths', 'assists', 'totalDamageDealtToChampions', 'totalDamageTaken',
         'firstDT','laneTower','LaneTowerTime','bans','killerId','victimId','assistId','G15']
df2 = pd.DataFrame(df_creates , columns = columns)

NameError: name 'df' is not defined

In [ ]:
df2

In [14]:
def get_match_timeline_df(df):
    # df를 한개로 만들기
    df_creater = []
    print('소환사 스텟 생성중.....')
    for i in tqdm(range(len(df))):       
        # matches 관련된 데이터 
        try:
            if df.iloc[i].matches['info']['gameDuration'] > 900:   # 게임시간이 15분이 안넘을경우에는 패스하기
                for j in range(10):
                    tmp = []
                    tmp.append(df.iloc[i].match_id)
                    tmp.append(df.iloc[i].matches['info']['gameDuration'])
                    tmp.append(df.iloc[i].matches['info']['gameVersion'])
                    tmp.append(df.iloc[i].matches['info']['participants'][j]['summonerName'])
                    tmp.append(df.iloc[i].matches['info']['participants'][j]['summonerLevel'])
                    tmp.append(df.iloc[i].matches['info']['participants'][j]['participantId'])
                    tmp.append(df.iloc[i].matches['info']['participants'][j]['championName'])
                    tmp.append(df.iloc[i].matches['info']['participants'][j]['champExperience'])
                    tmp.append(df.iloc[i].matches['info']['participants'][j]['teamPosition'])
                    tmp.append(df.iloc[i].matches['info']['participants'][j]['teamId'])
                    tmp.append(df.iloc[i].matches['info']['participants'][j]['win'])
                    tmp.append(df.iloc[i].matches['info']['participants'][j]['kills'])
                    tmp.append(df.iloc[i].matches['info']['participants'][j]['deaths'])
                    tmp.append(df.iloc[i].matches['info']['participants'][j]['assists'])
                    tmp.append(df.iloc[i].matches['info']['participants'][j]['totalDamageDealtToChampions'])
                    tmp.append(df.iloc[i].matches['info']['participants'][j]['totalDamageTaken'])
            #timeline 관련된 데이터
                    for k in range(5,26):
                        try:
                            tmp.append(df.iloc[i].timeline['info']['frames'][k]['participantFrames'][str(j+1)]['totalGold'])
                        except:
                            tmp.append(0)
                    df_creater.append(tmp)
        except:
            print(i)
            continue
    columns = ['gameId','gameDuration','gameVersion','summonerName','summonerLevel','participantId','championName','champExperience',
    'teamPosition','teamId','win','kills','deaths','assists','totalDamageDealtToChampions','totalDamageTaken','g_5','g_6','g_7','g_8','g_9','g_10','g_11','g_12','g_13','g_14','g_15','g_16','g_17',
    'g_18','g_19','g_20','g_21','g_22','g_23','g_24','g_25']
    df = pd.DataFrame(df_creater,columns = columns).drop_duplicates()
    print('df 제작이 완료되었습니다. 현재 df의 수는 %d 입니다'%len(df))
    return df

In [18]:
df

NameError: name 'df' is not defined

In [19]:
def insert_matches_timeline_mysql(row,conn):
    # lambda를 이용해서 progress_apply를 통해 insert할 구문 만들기
    query = (
             f'insert into lol_datas_IRON(gameId, gameDuration, gameVersion, summonerName, summonerLevel, participantId,'
             f'championName, champExperience, teamPosition, teamId, win, kills, deaths, assists,'
             f'totalDamageDealtToChampions, totalDamageTaken, g_5, g_6, g_7, g_8, g_9, g_10, g_11, g_12 ,g_13,g_14,'
             f'g_15, g_16, g_17, g_18, g_19, g_20, g_21, g_22, g_23, g_24, g_25)'
             f'values(\'{row.gameId}\',{row.gameDuration}, \'{row.gameVersion}\', \'{row.summonerName}\','
             f'{row.summonerLevel}, {row.participantId},\'{row.championName}\',{row.champExperience},'
             f'\'{row.teamPosition}\', {row.teamId}, \'{row.win}\', {row. kills}, {row.deaths}, {row.assists},'
             f'{row.totalDamageDealtToChampions},{row.totalDamageTaken},{row.g_5},{row.g_6},{row.g_7},{row.g_8},'
             f'{row.g_9},{row.g_10},{row.g_11},{row.g_12},{row.g_13},{row.g_14},{row.g_15},{row.g_16},{row.g_17},'
             f'{row.g_18},{row.g_19},{row.g_20},{row.g_21},{row.g_22},{row.g_23},{row.g_24},{row.g_25})'
             f'ON DUPLICATE KEY UPDATE '
             f'gameId = \'{row.gameId}\', gameDuration = {row.gameDuration}, gameVersion = \'{row.gameVersion}\', summonerName= \'{row.summonerName}\','
             f'summonerLevel = {row.summonerLevel},participantId = {row.participantId},championName = \'{row.championName}\','
             f'champExperience = {row.champExperience}, teamPosition = \'{row.teamPosition}\', teamId = {row.teamId},win = \'{row.win}\','
             f'kills = {row. kills}, deaths = {row.deaths}, assists = {row.assists}, totalDamageDealtToChampions = {row.totalDamageDealtToChampions},'
             f'totalDamageTaken = {row.totalDamageTaken},g_5 = {row.g_5},g_6 = {row.g_6},g_7 = {row.g_7},g_8 = {row.g_8},g_9 = {row.g_9},'
             f'g_10 = {row.g_10},g_11 = {row.g_11},g_12 = {row.g_12},g_13 = {row.g_13},g_14 = {row.g_14},g_15 = {row.g_15},g_16 = {row.g_16},g_17 = {row.g_17},'
             f'g_18 = {row.g_18},g_19 = {row.g_19},g_20 = {row.g_20},g_21 = {row.g_21},g_22 = {row.g_22},g_23 = {row.g_23},g_24 = {row.g_24},g_25 = {row.g_25}'
            )
    mysql_execute(query,conn)
    return query

In [20]:
conn = connect_mysql()
query = 'select * from lol_datas_IRON'
result = sql_execute_dict(conn,query)
conn.close()

In [21]:
result_df1 = pd.DataFrame(result)

In [22]:
result_df1.describe()

,gameDuration,allInPings,assistMePings,baitPings,basicPings,commandPings,dangerPings,enemyMissingPings,getBackPings,holdPings,...,g_11,g_12,g_13,g_14,g_15,g_16,g_17,g_18,g_19,g_20
count,7788.000000,7788.000000,7788.000000,7788.000000,7788.0,7788.000000,7788.0,7788.000000,7788.000000,7788.000000,...,7788.000000,7788.000000,7788.000000,7788.000000,7788.000000,7788.000000,7788.000000,7788.000000,7788.000000,7788.000000
mean,1652.003852,0.261171,2.227144,0.016307,0.0,4.455701,0.0,4.455829,2.363508,0.023754,...,4429.048023,4869.560734,5315.529661,5812.891243,6281.730226,6713.345788,6386.220596,6183.196970,5975.129045,6022.379944
std,479.204406,1.443192,4.127684,0.189939,0.0,7.001492,0.0,6.227193,4.680218,0.213397,...,2706.591258,2877.335278,3165.116727,3494.977714,3767.615257,3879.022738,3945.932459,3808.740961,3528.423069,3556.380758
min,901.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,1623.000000,1745.000000,1867.000000,1990.000000,2112.000000,2141.000000,0.000000,0.000000,0.000000,0.000000
25%,1267.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,3086.000000,3407.000000,3719.750000,4051.000000,4377.000000,4715.000000,4800.750000,4907.250000,4956.750000,5055.500000
50%,1648.000000,0.000000,0.000000,0.000000,0.0,2.000000,0.0,2.000000,0.000000,0.000000,...,3607.000000,3988.000000,4354.000000,4761.500000,5160.500000,5578.500000,5802.500000,6065.000000,6297.000000,6601.000000
75%,1972.000000,0.000000,3.000000,0.000000,0.0,6.000000,0.0,6.000000,3.000000,0.000000,...,4267.000000,4743.250000,5212.000000,5722.000000,6201.000000,6707.250000,6988.500000,7270.750000,7566.500000,7907.250000
max,3101.000000,97.000000,50.000000,7.000000,0.0,88.000000,0.0,163.000000,61.000000,7.000000,...,16930.000000,20695.000000,21395.000000,22180.000000,25190.000000,25890.000000,25157.000000,25885.000000,27200.000000,27200.000000

In [23]:
result_df_IRON = result_df1.dropna()

In [24]:
result_df_IRON

,gameId,gameDuration,allInPings,assistMePings,baitPings,basicPings,commandPings,dangerPings,enemyMissingPings,getBackPings,...,g_11,g_12,g_13,g_14,g_15,g_16,g_17,g_18,g_19,g_20
0,KR_6841974869,1861,0,0,0,0,5,0,9,2,...,4128,4683,5284,5637,5991,6218,7330,7740,7925,8593
1,KR_6841974869,1861,0,1,0,0,3,0,11,3,...,3318,3618,3745,4083,4290,4721,4913,5306,5973,6229
2,KR_6841974869,1861,1,2,0,0,3,0,17,10,...,3195,3562,3727,3979,4333,4961,5133,5404,5617,6839
3,KR_6841974869,1861,0,2,0,0,2,0,8,4,...,4165,4350,4724,5047,5295,5492,5665,6213,6434,6917
4,KR_6841974869,1861,0,2,0,0,11,0,0,6,...,3213,3538,3863,4080,4384,4688,4888,5295,5714,6066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7783,KR_6866314283,1744,0,1,0,0,13,0,4,0,...,3987,4323,4754,5056,5409,5767,6365,6885,7050,7489
7784,KR_6866314283,1744,0,0,0,0,1,0,6,4,...,3923,4364,4862,5199,5669,5991,6318,7042,7248,7598
7785,KR_6866314283,1744,0,11,0,0,0,0,1,1,...,3773,4049,4260,4569,5095,5439,5561,5984,6285,6672
7786,KR_6866314283,1744,0,0,0,0,4,0,0,3,...,4194,4701,4957,5412,5807,6220,6758,7512,8199,8754
7787,KR_6866314283,1744,1,3,0,0,4,0,0,1,...,2652,2872,3088,3445,3600,3919,4445,4810,5116,5284

In [25]:
df3

NameError: name 'df3' is not defined

In [26]:
df['matches'][0]['info']['participants'][0]['summonerName'] # summonerName

NameError: name 'df' is not defined

In [ ]:
df['matches'][0]['info']['participants'][0]

In [ ]:
df['matches'][0]['info']['participants'][0]['allInPings'] # allInPings

In [ ]:
df['matches'][0]['info']['participants'][0]['assistMePings'] # assistMePings

In [ ]:
df['matches'][0]['info']['participants'][0]['baitPings'] # baitPings

In [ ]:
df['matches'][0]['info']['participants'][0]['basicPings'] # basicPings

In [ ]:
df.iloc[0].matches['info']['participants'][0]['commandPings'] #commandPings

In [ ]:
df.iloc[0].matches['info']['participants'][0]['dangerPings'] #dangerPings

In [ ]:
df.iloc[0].matches['info']['participants'][0]['enemyMissingPings'] #enemyMissingPings

In [ ]:
df.iloc[0].matches['info']['participants'][0]['enemyVisionPings'] #enemyVisionPings

In [ ]:
df.iloc[0].matches['info']['participants'][0]['getBackPings'] # getBackPings

In [ ]:
df.iloc[0].matches['info']['participants'][0]['holdPings'] # holdPings

In [ ]:
df.iloc[0].matches['info']['participants'][0]['needVisionPings'] #needVisionPings

In [ ]:
df.iloc[0].matches['info']['participants'][0]['onMyWayPings'] #onMyWayPings

In [ ]:
df.iloc[0].matches['info']['participants'][0]['pushPings'] #pushPings

In [ ]:
df.iloc[0].matches['info']['participants'][0]['visionClearedPings'] #visionClearedPings

In [ ]:
df3 = get_match_timeline_df(df)

In [ ]:
df3

In [ ]:
df2.describe()

In [ ]:
result_df_IRON

In [ ]:
import pandas as pd

# 예시 데이터프레임 생성
data = {'Column1': [1, 2, 3],
        'Column2': [4, 5, 6],
        'Column3': [7, 8, 9]}
df = pd.DataFrame(data)

# 선택한 열들의 값을 합하여 새로운 열 생성
selected_columns = ['allInPings', 'assistMePings','commandPings','basicPings','dangerPings','getBackPings','onMyWayPings','needVisionPings','enemyMissingPings','pushPings']
result_df_IRON['Sum_Selected'] = result_df_IRON[selected_columns].sum(axis=1)

# 결과 출력
result_df_IRON

In [ ]:
emerald_df = emerald_df[emerald_df.teamPosition != ""]

emerald_df = emerald_df.drop(columns=['visionClearedPings','holdPings','baitPings'],axis=1)

emerald_df

In [ ]:
result_df_IRON = result_df_IRON[result_df_IRON.teamPosition != ""]

result_df_IRON = result_df_IRON.drop(columns=['visionClearedPings','holdPings','baitPings'],axis=1)

In [ ]:
result_df_DIAMOND = result_df_DIAMOND.drop(columns=['visionClearedPings','holdPings','baitPings'],axis=1)

In [ ]:
result_df_DIAMOND

In [ ]:
result_df_DIAMOND = result_df_DIAMOND[result_df_DIAMOND.teamPosition != ""]

In [ ]:
result_df_DIAMOND

In [ ]:
result_df_DIAMOND['tier'] = 'DIAMOND'

In [ ]:
result_df_EMERALD

In [ ]:
import pandas as pd

# 첫 번째 데이터프레임 생성
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})

# 두 번째 데이터프레임 생성
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Age': [25, 30, 22]})

# 'ID' 열을 기준으로 두 데이터프레임 합치기
merged_df = pd.merge(df1, df2, on='ID', how='inner')

# 결과 출력
print(merged_df)

In [ ]:
result_df_BRONZE

In [ ]:
import pandas as pd

# 예시 데이터프레임 생성
data = {'win': [True, False, True],
        'numbers': [10, 20, 30]}
df = pd.DataFrame(data)

# 'win'이 True인 행의 'numbers' 값 합계
sum_true = result_df_DIAMOND.loc[result_df_DIAMOND['win'] == 'True', 'Sum_Selected'].sum()

# 'win'이 False인 행의 'numbers' 값 합계
sum_false = result_df_DIAMOND.loc[result_df_DIAMOND['win'] == 'False', 'Sum_Selected'].sum()

# 결과 출력
print("Sum for True: ", sum_true)
print("Sum for False: ", sum_false)

# 합계를 비교
if sum_true > sum_false:
    print("True has a higher sum.")
elif sum_true < sum_false:
    print("False has a higher sum.")
else:
    print("Sums are equal.")

In [ ]:
sum_true

In [ ]:
selected_rows = result_df[(result_df['g_2'] >= 900) & (result_df['win'] == 'True')]

# 전체 판수
total_games = len(result_df[result_df['g_2'] >= 900])

print(total_games)

# 조건에 해당하는 판수
selected_games = len(selected_rows)

print(selected_games)

# 승률 계산
win_rate = selected_games / total_games * 100

In [ ]:
iron_issue_win = round(win_rate, 1)
# bro_issue_win = round(win_rate, 1)
# sil_issue_win = round(win_rate, 1)
# gold_issue_win = round(win_rate, 1)
# pla_issue_win = round(win_rate, 1)
# eme_issue_win = round(win_rate, 1)
# dia_issue_win = round(win_rate, 1)

In [ ]:
selected_rows2 = result_df[(result['g_2'] < 900) & (result['win'] == 'True')]

# 전체 판수
total_games2 = len(result[result['g_2'] < 900])

print(total_games2)

# 조건에 해당하는 판수
selected_games2 = len(selected_rows2)

print(selected_games2)

# 승률 계산
win_rate2 = selected_games2 / total_games2 * 100

In [ ]:
# iron_no_issue_win = round(win_rate2, 1)
# bro_no_issue_win = round(win_rate2, 1)
# sil_no_issue_win = round(win_rate2, 1)
# gold_no_issue_win = round(win_rate2, 1)
# pla_no_issue_win = round(win_rate2, 1)
# eme_no_issue_win = round(win_rate2, 1)
dia_no_issue_win = round(win_rate2, 1)

In [ ]:
tiers = ['IRON', 'BRONZE', 'SILVER', 'GOLD', 'PLATINUM', 'EMERALD', 'DIAMOND']

result_df = pd.DataFrame(index=tiers, columns=['이긴 팀의 총 핑 횟수', '진 팀의 총 핑 횟수'])

In [ ]:
result_df.loc['DIAMOND', '이긴 팀의 총 핑 횟수'] = sum_true
result_df.loc['DIAMOND', '진 팀의 총 핑 횟수'] = sum_false

In [ ]:
result_df_SILVER

In [ ]:
result_final = pd.merge(result_final,result_df_DIAMOND, how = 'outer')

In [ ]:
result_final

In [ ]:
result_df

In [ ]:
result_final.to_csv('result_final.csv', index=False)

In [ ]:
df = pd.read_csv('result_df_issue.csv')
df

In [ ]:
with open("data.json","w",encoding = 'UTF-8') as file:
    json.dump(result_final, file)

In [ ]:
data

In [ ]:
import json

# Example data
data = {'ID': [1, 2, 3],
        'Name': ['Alice', 'Bob', 'Charlie']}

# Save data to a JSON file
with open("data.json", "w", encoding='UTF-8') as file:
    json.dump(data, file)

print("JSON file has been successfully created.")